* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e3e7eb;
}
/* Container Style */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  background-color: #e3e7eb;
}

/* Card Container */
.card-contact {
  padding: 10px 20px 40px 20px;
  width: 700px;
  border-radius: 10px;
}

/*  */
h2 {
  margin: 20px 0 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
}

input,
select {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 black;
  border: none;
}

#subject {
  box-shadow: 0 0 4px 0 black;
  border: none;
}

input:focus {
  border-color: gray;
  outline: none;
}

select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(39, 33, 33);
}

textarea {
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 black;
  border: none;
}

textarea:focus {
  border-color: gray;
  outline: none;
}

label {
  font-weight: 600;
  color: rgb(39, 33, 33);
  text-transform: uppercase;
}

.button-container {
  display: flex;
  justify-content: end;
}

.btn {
  background-color: #111727;
  border: none;
  padding: 6px 13px;
  margin: 20px 0 0 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px 0 black;
}
