/* Clear All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Container Form */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 -2px 10px black;
  background-color: #e3e7eb;
  padding: 5rem 0;
}

/* Card Form */
#card-form {
  width: 68%;
}

.container-label {
  display: flex;
  flex-direction: column;
}

/* CheckBox */

/* Input Style */
.input-style {
  box-shadow: 0 0 4px black;
  padding: 7px;
  border-radius: 4px;
  border: none;
}

/* Label */
label {
  margin: 10px;
}

span {
  margin: 8px 0;
  text-transform: uppercase;
  font-weight: bold;
}

/* Date */
.date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Text Area Edit */
#descriptions {
  border: none;
  box-shadow: 0 0 4px 0 black;
  padding: 3px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 40%;
  width: 100%;
  height: 10rem;
}

/* CheckBox */
.checkbox {
  display: flex;
}

.checkbox-label {
  display: inline;
}

.checkbox-label span {
  margin: 0 2px;
}

/* Upload Images */
#upload-image {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  border: none;
}

#upload-image::-webkit-file-upload-button {
  border: none;
  padding: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* Upload Images */
.uploadImages span {
  display: block;
}

.uploadImages {
  margin: 40px 0;
}

.checkbox-container {
  margin: 25px 0 10px;
}

/* Card Project */
.img-card img {
  width: 100%;
}

.card-project {
  width: 100%;
  box-shadow: 0 0 10px 0 black;
  border-radius: 10px;
  padding: 10px;
}

.img-card img {
  border-radius: 10px;
}

.list-project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: start;
  padding: 0 4rem 3rem;
  flex-direction: column;
  width: 100%;
}

.button-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.button-card button {
  background-color: #111727;
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button-card button:nth-child(2) {
  background-color: #111727;
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
}

/* Button Submit */

.btn-container {
  display: flex;
  justify-content: end;
}

#btn-submit {
  padding: 10px 20px;
  outline: none;
  border: none;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 black;
  cursor: pointer;
  background-color: #111727;
  color: white;
}
/* De */
.descriptions-card {
  word-wrap: break-word; /* Allows unbreakable words to be broken and wrap onto the next line */
  overflow-wrap: break-word;
}

.img-container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px black;
  border-radius: 4px;
  cursor: pointer;
}

.fa-solid {
  margin: 10px;
  cursor: pointer;
}

.fa-brands {
  font-size: 35px;
  gap: 20px;
}

.teknologi-card {
  margin: 0 300px;
}

.icon-tech {
  display: flex;
  gap: 20px;
}

/* Display Project  */

.container-project {
  padding: 2rem 0;
}

.container-title {
  padding: 2rem 0;
}

/* Responsive Desain */
@media only screen and (max-width: 700px) {
  .date {
    grid-template-columns: 1fr;
  }

  .checkbox {
    flex-wrap: wrap;
  }

  span {
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }

  .input-style {
    box-shadow: 0 0 4px black;
    padding: 4px;
    border-radius: 4px;
    border: none;
  }

  .form-container {
    padding: 2rem 0;
  }

  #descriptions {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 60%;
    width: 100%;
    height: 5rem;
  }

  .button-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 1036px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  /* Container Form */
  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 -2px 10px black;
    background-color: #e3e7eb;
    padding: 5rem 0;
  }

  .list-project-container {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    justify-content: start;
    width: 100%;
    padding: 0 2rem 3rem;
    align-items: center;
    margin: 0 auto;
  }

  .card-project {
    width: 100%;
    max-width: 80%;
    min-width: 80%;
  }
}

.nav-menu .navbar-item li:nth-child(2) {
  background-color: orange;
}
